<div class = "listaobjekt container-box-second auto-height big top-100">
<h1> Klara objekt </h1>
{{#each objekt}}
<article class="column">
<h2>{{title1}}</h2>
 <img class="bild" src  ="/static/images/{{bildnamn}} ">
<p>Bild: {{bildnamn}}.. </p>
<p>Beskrivning {{content}}</p>
<p>Länknamn {{länknamn}}</p>
<a class="submitbtn" href="/controlpanel/visaobjekt/{{_id}}">Visa objekt !</a>
</article>
{{/each}}
</div>n